#card-container {
    display: flex;
    font-size: large;
}

.stat-container {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    min-width: 60px;

    overflow: hidden;
}

.stat-container mat-icon {
    padding-right: 5px;
}

#name-value {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#hp-value {
    font-size: x-large;
    font-weight: bold;
}

.spinner {
    display: flex;
    flex-direction: column;
}

